<appSettings>
  <add key="FacebookAppId" value="487614388364835"/>
  <add key="FacebookAppSecret" value="9f52c5de5d375684c3e34d06091e8032"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>